*{      //reset browser default settings
    margin: 0;
    padding: 0;

    body{
        max-width: 100%;
        overflow-x: hidden;         //setting no scroll on x-axis
        font-family: 'Open Sans';

        // ANCHOR header start
        header{
            width: 100%;
            height: 10vh;
            background: linear-gradient(90deg, RGB(114, 137, 218), rgb(240,240,255));
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);

            #headerContent{
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: auto;

                div{
                    width: 50%;
                    height: 80%;
                    display: flex;
                    align-items: center;

                    img{
                        height: 100%;
                        border-radius: 50%;
                    }

                    h1{
                        margin-left: 2%;
                        font-size: 25px;
                        text-transform: uppercase;
                        color: white;
                        font-weight: 600;
                    }
                }

                nav{
                    width: 40%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    
                    @media screen and (max-width: 900px) {
                        display: none;
                    }

                    ul{
                        display: flex;
                        justify-content: flex-end;
                        list-style: none;

                        .active{
                            font-weight: 600;
                        }

                        li{
                            margin: 0 5%;

                            a{
                                text-decoration: none;
                                text-transform: uppercase;
                                font-weight: 300;
                                color: black;
                                cursor: pointer;
                            }

                        }

                        .borderAnim{
                            padding-top: 2px;

                            &::after{
                                content: '';
                                display: block;
                                width: 0;
                                height: 2px;
                                background: black;
                                transition: width .3s;
                            }

                            &:hover::after{
                                width: 100%;
                            }
                        }
                    }

                    button{
                        position: relative;
                        text-transform: uppercase;
                        border-radius: 40px;
                        cursor: pointer;
                        border: 3px solid RGB(114, 137, 218);
                        background: none;
                        padding: 10px 50px;

                        &:hover{
                            background: linear-gradient(270deg, RGB(114, 137, 218), rgb(240,240,255));
                        }
                        
                    }
                }

                i{
                    display: none;
                    font-size: 30px;

                    @media screen and (max-width: 900px) {
                        display: inherit;
                    }
                }
            }
        }
        // header end

        // ANCHOR burger start
        #borgarMenu{
            display: none;
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100vw;
            height: 90vh;
            justify-content: center;
            background: linear-gradient(90deg, RGB(114, 137, 218), rgb(240,240,255));
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);

            .menu{
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: center;
                
                ul{
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin: auto;
                    text-align: center;
                    list-style: none;

                    .active{
                        font-weight: 600;
                    }

                    a{
                        color: white;
                        text-transform: uppercase;
                        font-size: 40px;
                        text-decoration: none;
                        text-shadow: 1px 0 10px rgb(61, 60, 155);
                        cursor: pointer;
                    }
                }

                span{
                    user-select: none;
                    color: RGB(114, 137, 218);
                    font-size: 60px;
                    position: absolute;
                    top: 1vh;
                    right: 4vh;
                }
            }
        }
        // burger end

        // ANCHOR main start
        main{
            width: 100%;
            // ANCHOR section 1 start
            #welcome{
                width: 100%;
                background: linear-gradient(90deg, RGB(114, 137, 218), rgb(240,240,255));
                display: flex;
                align-items: center;

                @media screen and (max-width: 900px){
                    flex-direction: column;
                    text-shadow: 2px 0 5px rgb(61, 60, 155);
                }

                #welcomeContent{
                    width: 50%;
                    height: 60%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;

                    @media screen and (max-width: 900px) {
                        width: 100%;
                    }

                    .column{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        margin-bottom: 10%;

                        h2{
                            font-size: 40px;
                            font-family: 'Varela Round';
                            text-transform: uppercase;
                            color: white;

                            @media screen and(max-width: 900px){
                                margin-top: 5%;
                            }
                        }

                        p{
                            width: 70%;
                            font-size: 20px;
                            line-height: 150%;
                            color: rgba(255, 255, 255, 0.6);
                        }
                    }

                    .row{
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;

                        button{
                            width: 45%;
                            height: 7vh;
                            cursor: pointer;
                            background-color: RGB(114, 137, 218);
                            color: white;
                            font-family: 'Varela Round';
                            font-size: 20px;
                            font-weight: 600;
                            text-transform: uppercase;
                            border: 4px solid white;
                            border-radius: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @media screen and (max-width: 550px){
                                font-size: 15px;
                            }

                            &:hover{
                                background-color: rgb(255, 255, 255);
                                color: RGB(114, 137, 218);
                            }

                            i{
                                font-size: 25px;
                                margin-right: 3%;

                                @media screen and (max-width: 550px){
                                    display: none;
                                }
                            }
                        }
                    }
                }

                img{
                    width: 50%;

                    @media screen and (max-width: 550px){
                        width: 100%;
                    }
                }
            }
            // section 1 end

            // ANCHOR section 2 start
            #setup{
                width: 100%;
                display: flex;

                @media screen and (max-width: 550px){
                    flex-direction: column-reverse;
                }

                .leftImg{
                    width: 45%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media screen and (max-width: 550px){
                        width: 100%;
                    }

                    img{
                        width: 90%;
                    }
                }

                .rightContent{
                    width: 55%;
                    display: flex;
                    justify-content: flex-end;
                    background-color: rgba(#7D94E4, 0.35);
                    border-radius: 500px 0 0 0;
                    padding: 5% 2% 5% 0;

                    @media screen and (max-width: 550px){
                        width: 100%;
                        border-radius: 0 0 500px 500px;
                        justify-content: center;
                        padding-right: 0;
                    }

                    .right{
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        @media screen and (max-width: 550px){
                            width: 70%;
                        }

                        h3{
                            text-align: center;
                            text-transform: uppercase;
                            font-weight: 600;
                            font-size: 30px;
                        }

                        p{
                            width: 100%;
                            text-align: center;
                            margin: 5% 0;
                        }

                        button{
                            text-transform: uppercase;
                            padding: 20px 50px;
                            border: 4px solid white;
                            background-color: white;
                            border-radius: 30px;
                            cursor: pointer;
                            font-weight: 600;

                            @media screen and (max-width: 550px){
                                padding: 15px 10px;
                                font-size: 12px;
                            }

                            &:hover{
                                background-color: #7D94E4;
                                color: white;
                            }
                        }
                    }
                }
            }
            // section 2 end

            // ANCHOR section 3 start
            #coolFeatures{
                width: 100%;
                display: flex;

                @media screen and (max-width: 550px){
                    flex-direction: column;
                }

                .leftContent{
                    width: 55%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    background-color: rgba(#7D94E4, 0.35);
                    padding: 5% 0;

                    @media screen and (max-width: 550px){
                        width: 100%;
                        border-radius: 0 0 500px 500px;
                    }

                        h3{
                            text-align: center;
                            text-transform: uppercase;
                            font-weight: 600;
                            font-size: 30px;
                        }

                        ul{
                            padding: 5% 0;

                            li{
                                margin: 2% 0;
                            }
                        }

                        button{
                            text-transform: uppercase;
                            padding: 20px 50px;
                            border: 4px solid white;
                            background-color: white;
                            border-radius: 30px;
                            cursor: pointer;
                            font-weight: 600;

                            @media screen and (max-width: 550px){
                                font-size: 12px;
                                padding: 15px 10px;
                            }

                            &:hover{
                                background-color: #7D94E4;
                                color: white;
                            }
                        }
                }

                .rightImg{
                    width: 45%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media screen and (max-width: 550px){
                        width: 100%;
                    }

                    img{
                        width: 90%;
                    }
                }
            }
            // section 3 end

            // ANCHOR section 4 start
            #there{
                width: 100%;
                display: flex;

                @media screen and (max-width: 550px){
                    flex-direction: column-reverse;
                }

                .leftImg{
                    width: 45%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media screen and (max-width: 550px){
                        width: 100%;
                    }

                    img{
                        width: 90%;
                    }
                }

                .rightContent{
                    width: 55%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: rgba(#7D94E4, 0.35);
                    padding: 5% 0;

                    @media screen and (max-width: 550px){
                        width: 100%;
                        padding-bottom: 10%;
                        border-radius: 0 0 500px 500px;
                    }

                    h3{
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 30px;
                    }

                    p{
                        width: 50%;
                        text-align: center;
                        margin: 5% 0;

                        @media screen and (max-width: 550px){
                            width: 75%;
                            margin-bottom: 10%;
                        }
                    }

                    button{
                        text-transform: uppercase;
                        padding: 20px 50px;
                        border: 4px solid white;
                        background-color: white;
                        border-radius: 30px;
                        cursor: pointer;
                        font-weight: 600;

                        @media screen and (max-width: 550px){
                            padding: 15px 50px;
                            font-size: 12px;
                        }

                        &:hover{
                            background-color: #7D94E4;
                            color: white;
                        }
                    }
                }
            }
            // section 4 end

            // ANCHOR section 5 start
            #growCommunity{
                width: 100%;
                display: flex;

                @media screen and (max-width: 550px){
                    flex-direction: column;
                }

                .leftContent{
                    width: 55%;
                    display: flex;
                    justify-content: flex-start;
                    background-color: rgba(#7D94E4, 0.35);
                    border-radius: 0 0 500px 0;
                    padding: 5% 0 5% 2%;

                    @media screen and (max-width: 550px){
                        width: 100%;
                        padding: 5% 0 10% 0;
                        border-radius: 0 0 500px 500px;
                        justify-content: center;
                    }

                    .left{
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        @media screen and (max-width: 550px){
                            width: 100%;
                        }

                        h3{
                            text-align: center;
                            text-transform: uppercase;
                            font-weight: 600;
                            font-size: 30px;
                        }

                        p{
                            width: 100%;
                            text-align: center;
                            padding: 5% 0;

                            @media screen and (max-width: 550px){
                                width: 70%;
                            }
                        }

                        button{
                            text-transform: uppercase;
                            padding: 20px 50px;
                            border: 4px solid white;
                            background-color: white;
                            border-radius: 30px;
                            cursor: pointer;
                            font-weight: 600;

                            @media screen and (max-width: 550px){
                                font-size: 12px;
                                padding: 15px 50px;
                            }

                            &:hover{
                                background-color: #7D94E4;
                                color: white;
                            }
                        }
                    }
                }

                .rightImg{
                    width: 45%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media screen and (max-width: 550px){
                        width: 100%;
                    }

                    img{
                        width: 90%;
                    }
                }
            }
            // section 5 end
        }
        // main end

        // ANCHOR footer start
        footer{
            background: linear-gradient(270deg, RGB(114, 137, 218), rgb(240,240,255));
            border-top: 3px solid white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2%;

            @media screen and (max-width: 550px) {
                flex-direction: column;
                margin: auto;
                text-shadow: -2px 0 5px rgb(61, 60, 155);
                color: white;
            }

            button{
                text-transform: uppercase;
                border-radius: 40px;
                cursor: pointer;
                border: 3px solid RGB(114, 137, 218);
                background: none;
                padding: 10px 50px;

                @media screen and (max-width: 550px) {
                    background-color: white;
                    color: RGB(114, 137, 218);
                }

                &:hover{
                    background: linear-gradient(90deg, RGB(114, 137, 218), rgb(240,240,255));
                    color: black;
                }
            }

            #toTop{
                text-transform: uppercase;
                text-decoration: none;
                font-size: 25px;
                color: black;

                &::after{
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: black;
                    transition: width .3s;
                }

                &:hover::after{
                    width: 100%;
                }

                @media screen and (max-width: 550px){
                    order: -1;
                }
            }

            ul{
                list-style: none;
                display: flex;
                justify-content: flex-end;
                width: 40%;

                @media screen and (max-width: 900px) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    width: 30%;
                    text-align: right;
                }

                @media screen and (max-width: 550px){
                    text-align: center;
                    align-items: center;
                    width: 100%;
                    margin: 5% 0;
                    order: -1;
                }

                li{
                    margin: 1% 2%;
                    font-size: 12px;
                    color: white;

                    a{
                        text-align: center;
                        color: white;
                    }
                }
            }
        }
        // footer end
    }
}
