*{      //reset browser default settings
    margin: 0;
    padding: 0;

    body{
        max-width: 100%;
        overflow-x: hidden;         //setting no scroll on x-axis
        font-family: 'Open Sans';

        // ANCHOR header start
        header{
            width: 100%;
            height: 10vh;
            background: linear-gradient(90deg, RGB(114, 137, 218), rgb(240,240,255));
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);

            #headerContent{
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: auto;

                div{
                    width: 50%;
                    height: 80%;
                    display: flex;
                    align-items: center;

                    img{
                        height: 100%;
                        border-radius: 50%;
                    }

                    h1{
                        margin-left: 2%;
                        font-size: 25px;
                        text-transform: uppercase;
                        color: white;
                        font-weight: 600;
                    }
                }

                nav{
                    width: 40%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    
                    @media screen and (max-width: 900px) {
                        display: none;
                    }

                    ul{
                        display: flex;
                        justify-content: flex-end;
                        list-style: none;

                        .active{
                            font-weight: 600;
                        }

                        li{
                            margin: 0 5%;

                            a{
                                text-decoration: none;
                                text-transform: uppercase;
                                font-weight: 300;
                                color: black;
                                cursor: pointer;
                            }

                        }

                        .borderAnim{
                            padding-top: 2px;

                            &::after{
                                content: '';
                                display: block;
                                width: 0;
                                height: 2px;
                                background: black;
                                transition: width .3s;
                            }

                            &:hover::after{
                                width: 100%;
                            }
                        }
                    }

                    button{
                        position: relative;
                        text-transform: uppercase;
                        border-radius: 40px;
                        cursor: pointer;
                        border: 3px solid RGB(114, 137, 218);
                        background: none;
                        padding: 10px 50px;

                        &:hover{
                            background: linear-gradient(270deg, RGB(114, 137, 218), rgb(240,240,255));
                        }
                        
                    }
                }

                i{
                    display: none;
                    font-size: 30px;

                    @media screen and (max-width: 900px) {
                        display: inherit;
                    }
                }
            }
        }
        // header end

        // ANCHOR burger start
        #borgarMenu{
            display: none;
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100vw;
            height: 90vh;
            justify-content: center;
            background: linear-gradient(90deg, RGB(114, 137, 218), rgb(240,240,255));
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);

            .menu{
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: center;
                
                ul{
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin: auto;
                    text-align: center;
                    list-style: none;

                    .active{
                        font-weight: 600;
                    }

                    a{
                        color: white;
                        text-transform: uppercase;
                        font-size: 40px;
                        text-decoration: none;
                        text-shadow: 1px 0 10px rgb(61, 60, 155);
                        cursor: pointer;
                    }
                }

                span{
                    user-select: none;
                    color: RGB(114, 137, 218);
                    font-size: 60px;
                    position: absolute;
                    top: 1vh;
                    right: 4vh;
                }
            }
        }
        // burger end

        // ANCHOR main start
        main{
            width: 100%;
            // ANCHOR section 1 start
            #intro{
                background: linear-gradient(90deg, RGB(114, 137, 218), rgb(240,240,255));
                display: flex;
                width: 100%;
                padding: 10% 0;

                @media screen and (max-width: 900px){
                    flex-direction: column-reverse;
                    align-items: center;
                }

                .left{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 50%;

                    @media screen and (max-width: 900px){
                        width: 100%;
                    }

                    img{
                        width: 80%;
                    }

                    p{
                        color: white;
                        font-size: 12px;
                        text-align: center;
                    }
                }

                .right{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 50%;

                    @media screen and (max-width: 900px){
                        width: 100%;
                        margin-bottom: 10%;
                    }

                    h2{
                        font-size: 40px;
                        text-transform: uppercase;
                        font-family: 'Varela Round';
                        color: white;
                        margin-bottom: 2%;
                        text-shadow: 2px 0 5px rgb(61, 60, 155);
                    }

                    p{
                        text-align: center;
                        color: white;
                        width: 80%;
                        text-shadow: 2px 0 5px rgb(61, 60, 155);
                    }
                }
            }
            // section 1 end

            // ANCHOR section 2 start
            #stats{
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 5% 0;

                @media screen and (max-width: 768px){
                    padding: 10% 0;
                }

                h3{
                    width: 100%;
                    text-align: center;
                    text-transform: uppercase;
                    color: RGB(114, 137, 218);
                    font-size: 30px;
                    font-weight: 300;
                    padding-bottom: 5%;
                }

                #statsContainer{
                    width: 80%;
                    margin: auto;
                    display: flex;
                    justify-content: space-between;

                    @media screen and (max-width: 900px){
                        width: 100%;
                    }

                    @media screen and (max-width: 768px){
                        flex-direction: column;
                        align-items: center;
                    }

                    .column{
                        width: 33%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        @media screen and (max-width: 768px){
                            width: 70%;
                            flex-direction: row;
                            justify-content: space-between;
                        }

                        @media screen and (max-width: 375px){
                            width: 90%;
                        }

                        h4{
                            color: RGB(114, 137, 218);
                            text-transform: uppercase;
                            padding-bottom: 3%;
                            font-size: 25px;
                            font-weight: 300;

                            @media screen and (max-width: 768px){
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            // section 2 end
        }
        // main end

        // ANCHOR footer start
        footer{
            background: linear-gradient(270deg, RGB(114, 137, 218), rgb(240,240,255));
            border-top: 3px solid white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2%;

            @media screen and (max-width: 550px) {
                flex-direction: column;
                margin: auto;
                text-shadow: -2px 0 5px rgb(61, 60, 155);
                color: white;
            }

            button{
                text-transform: uppercase;
                border-radius: 40px;
                cursor: pointer;
                border: 3px solid RGB(114, 137, 218);
                background: none;
                padding: 10px 50px;

                @media screen and (max-width: 550px) {
                    background-color: white;
                    color: RGB(114, 137, 218);
                }

                &:hover{
                    background: linear-gradient(90deg, RGB(114, 137, 218), rgb(240,240,255));
                    color: black;
                }
            }

            #toTop{
                text-transform: uppercase;
                text-decoration: none;
                font-size: 25px;
                color: black;

                &::after{
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: black;
                    transition: width .3s;
                }

                &:hover::after{
                    width: 100%;
                }

                @media screen and (max-width: 550px){
                    order: -1;
                }
            }

            ul{
                list-style: none;
                display: flex;
                justify-content: flex-end;
                width: 40%;

                @media screen and (max-width: 900px) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    width: 30%;
                    text-align: right;
                }

                @media screen and (max-width: 550px){
                    text-align: center;
                    align-items: center;
                    width: 100%;
                    margin: 5% 0;
                    order: -1;
                }

                li{
                    margin: 1% 2%;
                    font-size: 12px;
                    color: white;

                    a{
                        text-align: center;
                        color: white;
                    }
                }
            }
        }
        // footer end
    }
}
        