*{      //reset browser default settings
    margin: 0;
    padding: 0;

    body{
        max-width: 100%;
        overflow-x: hidden;         //setting no scroll on x-axis
        font-family: 'Open Sans';

        // ANCHOR header start
        header{
            width: 100%;
            height: 10vh;
            background: linear-gradient(90deg, RGB(114, 137, 218), rgb(240,240,255));
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);

            #headerContent{
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: auto;

                div{
                    width: 50%;
                    height: 80%;
                    display: flex;
                    align-items: center;

                    img{
                        height: 100%;
                        border-radius: 50%;
                    }

                    h1{
                        margin-left: 2%;
                        font-size: 25px;
                        text-transform: uppercase;
                        color: white;
                        font-weight: 600;
                    }
                }

                nav{
                    width: 40%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    
                    @media screen and (max-width: 900px) {
                        display: none;
                    }

                    ul{
                        display: flex;
                        justify-content: flex-end;
                        list-style: none;

                        .active{
                            font-weight: 600;
                        }

                        li{
                            margin: 0 5%;

                            a{
                                text-decoration: none;
                                text-transform: uppercase;
                                font-weight: 300;
                                color: black;
                                cursor: pointer;
                            }

                        }

                        .borderAnim{
                            padding-top: 2px;

                            &::after{
                                content: '';
                                display: block;
                                width: 0;
                                height: 2px;
                                background: black;
                                transition: width .3s;
                            }

                            &:hover::after{
                                width: 100%;
                            }
                        }
                    }

                    button{
                        position: relative;
                        text-transform: uppercase;
                        border-radius: 40px;
                        cursor: pointer;
                        border: 3px solid RGB(114, 137, 218);
                        background: none;
                        padding: 10px 50px;

                        &:hover{
                            background: linear-gradient(270deg, RGB(114, 137, 218), rgb(240,240,255));
                        }
                        
                    }
                }

                i{
                    display: none;
                    font-size: 30px;

                    @media screen and (max-width: 900px) {
                        display: inherit;
                    }
                }
            }
        }
        // header end

        // ANCHOR burger start
        #borgarMenu{
            display: none;
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100vw;
            height: 90vh;
            justify-content: center;
            background: linear-gradient(90deg, RGB(114, 137, 218), rgb(240,240,255));
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);

            .menu{
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: center;
                
                ul{
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin: auto;
                    text-align: center;
                    list-style: none;

                    .active{
                        font-weight: 600;
                    }

                    a{
                        color: white;
                        text-transform: uppercase;
                        font-size: 40px;
                        text-decoration: none;
                        text-shadow: 1px 0 10px rgb(61, 60, 155);
                        cursor: pointer;
                    }
                }

                span{
                    user-select: none;
                    color: RGB(114, 137, 218);
                    font-size: 60px;
                    position: absolute;
                    top: 1vh;
                    right: 4vh;
                }
            }
        }
        // burger end

        // ANCHOR main start
        main{
            width: 100%;

            #intro{
                background: linear-gradient(90deg, RGB(114, 137, 218), rgb(240,240,255));
                width: 100%;
                height: 80vh;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media screen and (max-width: 900px){
                    height: auto;
                    padding: 10% 0;
                }

                h2{
                    width: 100%;
                    text-align: center;
                    color: white;
                    text-transform: uppercase;
                    font-family: 'Varela Round';
                    font-size: 40px;
                    margin-bottom: 5%;
                    text-shadow: 2px 0 5px rgb(61, 60, 155);
                }

                #introContent{
                    width: 100%;
                    display: flex;

                    @media screen and (max-width: 900px){
                        flex-direction: column;
                    }

                    .left{
                        width: 50%;
                        display: flex;
                        justify-content: center;

                        @media screen and (max-width: 900px){
                            width: 100%;
                            margin-bottom: 15%;
                        }

                        p{
                            width: 70%;
                            text-align: center;
                            color: white;
                            line-height: 200%;

                            @media screen and (max-width: 900px){
                                text-shadow: 2px 0 5px black;
                            }

                            a{
                                color: black;
                                cursor: pointer;
                                text-shadow: none;
                            }
                        }
                    }

                    .right{
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;

                        @media screen and (max-width: 900px){
                            width: 100%;
                        }

                        #getStarted{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom: 10%;
                            width: 80%;

                            p{
                                text-align: center;

                                @media screen and (max-width: 900px){
                                    color: white;
                                    text-shadow: 2px 0 5px black;
                                }
                            }

                            #inviteButton{
                                display: flex;
                                align-items: center;

                                #arrow{
                                    display: none;
                                    font-size: 80px;
                                    color: black;
                                    margin-right: 70px;
                                    animation: slide1 1s ease-in-out infinite;

                                    @keyframes slide1 {
                                        0%,
                                        100% {
                                          transform: translate(0, 0);
                                        }
                                      
                                        50% {
                                          transform: translate(50px, 0);
                                        }
                                    }
                                }

                                button{
                                    background-color: white;
                                    border: 4px solid RGB(114, 137, 218);
                                    border-radius: 50px;
                                    padding: 20px 30px;
                                    text-transform: uppercase;
                                    color: RGB(114, 137, 218);
                                    font-weight: 600;
                                    font-size: 20px;
                                    font-family: 'Open Sans';
                                    width: max-content;

                                    @media screen and (max-width: 550px){
                                        padding: 15px 20px;
                                        font-size: 15px;
                                    }
                                }
                            }
                        }

                        #BoeTeaful{
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            img{
                                border-radius: 50px;
                                border: 2px solid RGB(114, 137, 218);
                            }

                            p{
                                text-align: center;

                                @media screen and (max-width: 900px){
                                    color: white;
                                    text-shadow: 2px 0 5px black;
                                }
                            }
                        }
                    }
                }
            }
        }
        // main end

        // ANCHOR footer start
        footer{
            background: linear-gradient(270deg, RGB(114, 137, 218), rgb(240,240,255));
            border-top: 3px solid white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2%;

            @media screen and (max-width: 550px) {
                flex-direction: column;
                margin: auto;
                text-shadow: -2px 0 5px rgb(61, 60, 155);
                color: white;
            }

            button{
                text-transform: uppercase;
                border-radius: 40px;
                cursor: pointer;
                border: 3px solid RGB(114, 137, 218);
                background: none;
                padding: 10px 50px;

                @media screen and (max-width: 550px) {
                    background-color: white;
                    color: RGB(114, 137, 218);
                }

                &:hover{
                    background: linear-gradient(90deg, RGB(114, 137, 218), rgb(240,240,255));
                    color: black;
                }
            }

            #toTop{
                text-transform: uppercase;
                text-decoration: none;
                font-size: 25px;
                color: black;

                &::after{
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: black;
                    transition: width .3s;
                }

                &:hover::after{
                    width: 100%;
                }

                @media screen and (max-width: 550px){
                    order: -1;
                }
            }

            ul{
                list-style: none;
                display: flex;
                justify-content: flex-end;
                width: 40%;

                @media screen and (max-width: 900px) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    width: 30%;
                    text-align: right;
                }

                @media screen and (max-width: 550px){
                    text-align: center;
                    align-items: center;
                    width: 100%;
                    margin: 5% 0;
                    order: -1;
                }

                li{
                    margin: 1% 2%;
                    font-size: 12px;
                    color: white;

                    a{
                        text-align: center;
                        color: white;
                    }
                }
            }
        }
        // footer end
    }
}