* {
  margin: 0;
  padding: 0;
}

* body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans';
}

* body header {
  width: 100%;
  height: 10vh;
  background: -webkit-gradient(linear, left top, right top, from(RGB(114, 137, 218)), to(#f0f0ff));
  background: linear-gradient(90deg, RGB(114, 137, 218), #f0f0ff);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

* body header #headerContent {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

* body header #headerContent div {
  width: 50%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body header #headerContent div img {
  height: 100%;
  border-radius: 50%;
}

* body header #headerContent div h1 {
  margin-left: 2%;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

* body header #headerContent nav {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  * body header #headerContent nav {
    display: none;
  }
}

* body header #headerContent nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

* body header #headerContent nav ul .active {
  font-weight: 600;
}

* body header #headerContent nav ul li {
  margin: 0 5%;
}

* body header #headerContent nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  color: black;
  cursor: pointer;
}

* body header #headerContent nav ul .borderAnim {
  padding-top: 2px;
}

* body header #headerContent nav ul .borderAnim::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  -webkit-transition: width .3s;
  transition: width .3s;
}

* body header #headerContent nav ul .borderAnim:hover::after {
  width: 100%;
}

* body header #headerContent nav button {
  position: relative;
  text-transform: uppercase;
  border-radius: 40px;
  cursor: pointer;
  border: 3px solid RGB(114, 137, 218);
  background: none;
  padding: 10px 50px;
}

* body header #headerContent nav button:hover {
  background: -webkit-gradient(linear, right top, left top, from(RGB(114, 137, 218)), to(#f0f0ff));
  background: linear-gradient(270deg, RGB(114, 137, 218), #f0f0ff);
}

* body header #headerContent i {
  display: none;
  font-size: 30px;
}

@media screen and (max-width: 900px) {
  * body header #headerContent i {
    display: inherit;
  }
}

* body #borgarMenu {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(RGB(114, 137, 218)), to(#f0f0ff));
  background: linear-gradient(90deg, RGB(114, 137, 218), #f0f0ff);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

* body #borgarMenu .menu {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body #borgarMenu .menu ul {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  text-align: center;
  list-style: none;
}

* body #borgarMenu .menu ul .active {
  font-weight: 600;
}

* body #borgarMenu .menu ul a {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  text-decoration: none;
  text-shadow: 1px 0 10px #3d3c9b;
  cursor: pointer;
}

* body #borgarMenu .menu span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: RGB(114, 137, 218);
  font-size: 60px;
  position: absolute;
  top: 1vh;
  right: 4vh;
}

* body main {
  width: 100%;
}

* body main #welcome {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(RGB(114, 137, 218)), to(#f0f0ff));
  background: linear-gradient(90deg, RGB(114, 137, 218), #f0f0ff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  * body main #welcome {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-shadow: 2px 0 5px #3d3c9b;
  }
}

* body main #welcome #welcomeContent {
  width: 50%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 900px) {
  * body main #welcome #welcomeContent {
    width: 100%;
  }
}

* body main #welcome #welcomeContent .column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 10%;
}

* body main #welcome #welcomeContent .column h2 {
  font-size: 40px;
  font-family: 'Varela Round';
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 900px) {
  * body main #welcome #welcomeContent .column h2 {
    margin-top: 5%;
  }
}

* body main #welcome #welcomeContent .column p {
  width: 70%;
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
}

* body main #welcome #welcomeContent .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body main #welcome #welcomeContent .row button {
  width: 45%;
  height: 7vh;
  cursor: pointer;
  background-color: RGB(114, 137, 218);
  color: white;
  font-family: 'Varela Round';
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: 4px solid white;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 550px) {
  * body main #welcome #welcomeContent .row button {
    font-size: 15px;
  }
}

* body main #welcome #welcomeContent .row button:hover {
  background-color: white;
  color: RGB(114, 137, 218);
}

* body main #welcome #welcomeContent .row button i {
  font-size: 25px;
  margin-right: 3%;
}

@media screen and (max-width: 550px) {
  * body main #welcome #welcomeContent .row button i {
    display: none;
  }
}

* body main #welcome img {
  width: 50%;
}

@media screen and (max-width: 550px) {
  * body main #welcome img {
    width: 100%;
  }
}

* body main #setup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 550px) {
  * body main #setup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

* body main #setup .leftImg {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 550px) {
  * body main #setup .leftImg {
    width: 100%;
  }
}

* body main #setup .leftImg img {
  width: 90%;
}

* body main #setup .rightContent {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgba(125, 148, 228, 0.35);
  border-radius: 500px 0 0 0;
  padding: 5% 2% 5% 0;
}

@media screen and (max-width: 550px) {
  * body main #setup .rightContent {
    width: 100%;
    border-radius: 0 0 500px 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }
}

* body main #setup .rightContent .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 550px) {
  * body main #setup .rightContent .right {
    width: 70%;
  }
}

* body main #setup .rightContent .right h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
}

* body main #setup .rightContent .right p {
  width: 100%;
  text-align: center;
  margin: 5% 0;
}

* body main #setup .rightContent .right button {
  text-transform: uppercase;
  padding: 20px 50px;
  border: 4px solid white;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}

@media screen and (max-width: 550px) {
  * body main #setup .rightContent .right button {
    padding: 15px 10px;
    font-size: 12px;
  }
}

* body main #setup .rightContent .right button:hover {
  background-color: #7D94E4;
  color: white;
}

* body main #coolFeatures {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 550px) {
  * body main #coolFeatures {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* body main #coolFeatures .leftContent {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(125, 148, 228, 0.35);
  padding: 5% 0;
}

@media screen and (max-width: 550px) {
  * body main #coolFeatures .leftContent {
    width: 100%;
    border-radius: 0 0 500px 500px;
  }
}

* body main #coolFeatures .leftContent h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
}

* body main #coolFeatures .leftContent ul {
  padding: 5% 0;
}

* body main #coolFeatures .leftContent ul li {
  margin: 2% 0;
}

* body main #coolFeatures .leftContent button {
  text-transform: uppercase;
  padding: 20px 50px;
  border: 4px solid white;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}

@media screen and (max-width: 550px) {
  * body main #coolFeatures .leftContent button {
    font-size: 12px;
    padding: 15px 10px;
  }
}

* body main #coolFeatures .leftContent button:hover {
  background-color: #7D94E4;
  color: white;
}

* body main #coolFeatures .rightImg {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 550px) {
  * body main #coolFeatures .rightImg {
    width: 100%;
  }
}

* body main #coolFeatures .rightImg img {
  width: 90%;
}

* body main #there {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 550px) {
  * body main #there {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

* body main #there .leftImg {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 550px) {
  * body main #there .leftImg {
    width: 100%;
  }
}

* body main #there .leftImg img {
  width: 90%;
}

* body main #there .rightContent {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(125, 148, 228, 0.35);
  padding: 5% 0;
}

@media screen and (max-width: 550px) {
  * body main #there .rightContent {
    width: 100%;
    padding-bottom: 10%;
    border-radius: 0 0 500px 500px;
  }
}

* body main #there .rightContent h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
}

* body main #there .rightContent p {
  width: 50%;
  text-align: center;
  margin: 5% 0;
}

@media screen and (max-width: 550px) {
  * body main #there .rightContent p {
    width: 75%;
    margin-bottom: 10%;
  }
}

* body main #there .rightContent button {
  text-transform: uppercase;
  padding: 20px 50px;
  border: 4px solid white;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}

@media screen and (max-width: 550px) {
  * body main #there .rightContent button {
    padding: 15px 50px;
    font-size: 12px;
  }
}

* body main #there .rightContent button:hover {
  background-color: #7D94E4;
  color: white;
}

* body main #growCommunity {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 550px) {
  * body main #growCommunity {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* body main #growCommunity .leftContent {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: rgba(125, 148, 228, 0.35);
  border-radius: 0 0 500px 0;
  padding: 5% 0 5% 2%;
}

@media screen and (max-width: 550px) {
  * body main #growCommunity .leftContent {
    width: 100%;
    padding: 5% 0 10% 0;
    border-radius: 0 0 500px 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

* body main #growCommunity .leftContent .left {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 550px) {
  * body main #growCommunity .leftContent .left {
    width: 100%;
  }
}

* body main #growCommunity .leftContent .left h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
}

* body main #growCommunity .leftContent .left p {
  width: 100%;
  text-align: center;
  padding: 5% 0;
}

@media screen and (max-width: 550px) {
  * body main #growCommunity .leftContent .left p {
    width: 70%;
  }
}

* body main #growCommunity .leftContent .left button {
  text-transform: uppercase;
  padding: 20px 50px;
  border: 4px solid white;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}

@media screen and (max-width: 550px) {
  * body main #growCommunity .leftContent .left button {
    font-size: 12px;
    padding: 15px 50px;
  }
}

* body main #growCommunity .leftContent .left button:hover {
  background-color: #7D94E4;
  color: white;
}

* body main #growCommunity .rightImg {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 550px) {
  * body main #growCommunity .rightImg {
    width: 100%;
  }
}

* body main #growCommunity .rightImg img {
  width: 90%;
}

* body footer {
  background: -webkit-gradient(linear, right top, left top, from(RGB(114, 137, 218)), to(#f0f0ff));
  background: linear-gradient(270deg, RGB(114, 137, 218), #f0f0ff);
  border-top: 3px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

@media screen and (max-width: 550px) {
  * body footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    text-shadow: -2px 0 5px #3d3c9b;
    color: white;
  }
}

* body footer button {
  text-transform: uppercase;
  border-radius: 40px;
  cursor: pointer;
  border: 3px solid RGB(114, 137, 218);
  background: none;
  padding: 10px 50px;
}

@media screen and (max-width: 550px) {
  * body footer button {
    background-color: white;
    color: RGB(114, 137, 218);
  }
}

* body footer button:hover {
  background: -webkit-gradient(linear, left top, right top, from(RGB(114, 137, 218)), to(#f0f0ff));
  background: linear-gradient(90deg, RGB(114, 137, 218), #f0f0ff);
  color: black;
}

* body footer #toTop {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  color: black;
}

* body footer #toTop::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  -webkit-transition: width .3s;
  transition: width .3s;
}

* body footer #toTop:hover::after {
  width: 100%;
}

@media screen and (max-width: 550px) {
  * body footer #toTop {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

* body footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
}

@media screen and (max-width: 900px) {
  * body footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 30%;
    text-align: right;
  }
}

@media screen and (max-width: 550px) {
  * body footer ul {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 5% 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

* body footer ul li {
  margin: 1% 2%;
  font-size: 12px;
  color: white;
}

* body footer ul li a {
  text-align: center;
  color: white;
}
/*# sourceMappingURL=style.css.map */