* {
  margin: 0;
  padding: 0;
}

* body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans';
}

* body header {
  width: 100%;
  height: 10vh;
  background: -webkit-gradient(linear, left top, right top, from(RGB(114, 137, 218)), to(#f0f0ff));
  background: linear-gradient(90deg, RGB(114, 137, 218), #f0f0ff);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

* body header #headerContent {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

* body header #headerContent div {
  width: 50%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body header #headerContent div img {
  height: 100%;
  border-radius: 50%;
}

* body header #headerContent div h1 {
  margin-left: 2%;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

* body header #headerContent nav {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  * body header #headerContent nav {
    display: none;
  }
}

* body header #headerContent nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

* body header #headerContent nav ul .active {
  font-weight: 600;
}

* body header #headerContent nav ul li {
  margin: 0 5%;
}

* body header #headerContent nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  color: black;
  cursor: pointer;
}

* body header #headerContent nav ul .borderAnim {
  padding-top: 2px;
}

* body header #headerContent nav ul .borderAnim::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  -webkit-transition: width .3s;
  transition: width .3s;
}

* body header #headerContent nav ul .borderAnim:hover::after {
  width: 100%;
}

* body header #headerContent nav button {
  position: relative;
  text-transform: uppercase;
  border-radius: 40px;
  cursor: pointer;
  border: 3px solid RGB(114, 137, 218);
  background: none;
  padding: 10px 50px;
}

* body header #headerContent nav button:hover {
  background: -webkit-gradient(linear, right top, left top, from(RGB(114, 137, 218)), to(#f0f0ff));
  background: linear-gradient(270deg, RGB(114, 137, 218), #f0f0ff);
}

* body header #headerContent i {
  display: none;
  font-size: 30px;
}

@media screen and (max-width: 900px) {
  * body header #headerContent i {
    display: inherit;
  }
}

* body #borgarMenu {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(RGB(114, 137, 218)), to(#f0f0ff));
  background: linear-gradient(90deg, RGB(114, 137, 218), #f0f0ff);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

* body #borgarMenu .menu {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body #borgarMenu .menu ul {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  text-align: center;
  list-style: none;
}

* body #borgarMenu .menu ul .active {
  font-weight: 600;
}

* body #borgarMenu .menu ul a {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  text-decoration: none;
  text-shadow: 1px 0 10px #3d3c9b;
  cursor: pointer;
}

* body #borgarMenu .menu span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: RGB(114, 137, 218);
  font-size: 60px;
  position: absolute;
  top: 1vh;
  right: 4vh;
}

* body main {
  width: 100%;
}

* body main #intro {
  background: -webkit-gradient(linear, left top, right top, from(RGB(114, 137, 218)), to(#f0f0ff));
  background: linear-gradient(90deg, RGB(114, 137, 218), #f0f0ff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10% 0;
}

@media screen and (max-width: 900px) {
  * body main #intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

* body main #intro .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

@media screen and (max-width: 900px) {
  * body main #intro .left {
    width: 100%;
  }
}

* body main #intro .left img {
  width: 80%;
}

* body main #intro .left p {
  color: white;
  font-size: 12px;
  text-align: center;
}

* body main #intro .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

@media screen and (max-width: 900px) {
  * body main #intro .right {
    width: 100%;
    margin-bottom: 10%;
  }
}

* body main #intro .right h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Varela Round';
  color: white;
  margin-bottom: 2%;
  text-shadow: 2px 0 5px #3d3c9b;
}

* body main #intro .right p {
  text-align: center;
  color: white;
  width: 80%;
  text-shadow: 2px 0 5px #3d3c9b;
}

* body main #stats {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5% 0;
}

@media screen and (max-width: 768px) {
  * body main #stats {
    padding: 10% 0;
  }
}

* body main #stats h3 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: RGB(114, 137, 218);
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 5%;
}

* body main #stats #statsContainer {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 900px) {
  * body main #stats #statsContainer {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  * body main #stats #statsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

* body main #stats #statsContainer .column {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  * body main #stats #statsContainer .column {
    width: 70%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 375px) {
  * body main #stats #statsContainer .column {
    width: 90%;
  }
}

* body main #stats #statsContainer .column h4 {
  color: RGB(114, 137, 218);
  text-transform: uppercase;
  padding-bottom: 3%;
  font-size: 25px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  * body main #stats #statsContainer .column h4 {
    font-size: 20px;
  }
}

* body footer {
  background: -webkit-gradient(linear, right top, left top, from(RGB(114, 137, 218)), to(#f0f0ff));
  background: linear-gradient(270deg, RGB(114, 137, 218), #f0f0ff);
  border-top: 3px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

@media screen and (max-width: 550px) {
  * body footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    text-shadow: -2px 0 5px #3d3c9b;
    color: white;
  }
}

* body footer button {
  text-transform: uppercase;
  border-radius: 40px;
  cursor: pointer;
  border: 3px solid RGB(114, 137, 218);
  background: none;
  padding: 10px 50px;
}

@media screen and (max-width: 550px) {
  * body footer button {
    background-color: white;
    color: RGB(114, 137, 218);
  }
}

* body footer button:hover {
  background: -webkit-gradient(linear, left top, right top, from(RGB(114, 137, 218)), to(#f0f0ff));
  background: linear-gradient(90deg, RGB(114, 137, 218), #f0f0ff);
  color: black;
}

* body footer #toTop {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  color: black;
}

* body footer #toTop::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  -webkit-transition: width .3s;
  transition: width .3s;
}

* body footer #toTop:hover::after {
  width: 100%;
}

@media screen and (max-width: 550px) {
  * body footer #toTop {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

* body footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
}

@media screen and (max-width: 900px) {
  * body footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 30%;
    text-align: right;
  }
}

@media screen and (max-width: 550px) {
  * body footer ul {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 5% 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

* body footer ul li {
  margin: 1% 2%;
  font-size: 12px;
  color: white;
}

* body footer ul li a {
  text-align: center;
  color: white;
}
/*# sourceMappingURL=style.css.map */